:root {
  --main-color: #10cab1;
  --secondary-color: #2c4755;
}

html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* small  */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium*/

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.header .logo {
  width: 70px;
}

.header .link {
  position: relative;
}
.header .link .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: end;
}

.header .link .icon:hover {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: end;
  animation-name: spa;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes spa {
  0% {
    color: var(--secondary-color);
    rotate: 0;
  }

  100% {
    transform: rotate(90deg);
    rotate: 180deg;
  }
}

.header .link .icon span {
  background-color: rgb(0, 0, 0);
  margin-bottom: 5px;
  height: 3px;

  border-radius: 30px;
}

.header .link .icon:hover span {
  background-color: var(--secondary-color);
  margin-bottom: 5px;
  height: 3px;

  border-radius: 30px;
}

.header .link .icon span:first-child {
  width: 100%;
  transition: 1s;
}
.header .link .icon span:nth-child(2) {
  width: 60%;
  transition: 0.51s;
}

.header .link .icon span:last-child {
  width: 100%;
  transition: 1s;
}
.header .link .icon:hover span:first-child {
  width: 75%;
  transition: 2s;
}
.header .link .icon:hover span:last-child {
  width: 75%;
  transition: 2s;
}
.header .link .icon:hover span:nth-child(2) {
  width: 100%;
  transition: 2s;
}

.header .link ul {
  list-style: none;

  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);

  position: absolute;
  right: -px;
  min-width: 0px;

  top: calc(100% + 20px);

  z-index: 1;
  height: 675px;
  display: none;

  animation-name: ui1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.header .link:hover ul {
  display: block;
}

.header .link ul::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: var(--secondary-color) transparent transparent transparent;

  position: absolute;

  top: -20px;
  right: 192.5px;
}

.header .link ul li a {
  display: block;
  padding: 50px;
  text-decoration: none;
  text-decoration-color: var(--secondary-color);
  color: #000;
  transition: 0.51;

  animation-name: ui1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes ui1 {
  0% {
    display: none;
    width: 0px;
  }
  100% {
    width: 215px;
  }
}

@media (max-width: 768px) {
  .header .link ul {
    list-style: none;

    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);

    position: absolute;
    right: -34px;
    min-width: 0px;

    top: calc(100% + 20px);

    z-index: 1;
    height: 230px;
    display: none;
  }

  .header .link ul::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: var(--secondary-color) transparent transparent transparent;

  position: absolute;

  top: -20px;
  right: 40px;
}

  .header .link ul li a {
    display: block;

    padding: 20px;
    text-decoration: none;
    text-decoration-color: var(--secondary-color);
    color: #000;
    transition: 0.51;
  }

  @keyframes ui1 {
    0% {
      display: none;
      width: 0px;
    }
    100% {
      width: 100px;
    }
  }
}

.header .link ul li a:hover {
  padding-left: 25px;
  color: var(--main-color);
  font-size: 20px;
  animation-name: ui1;
  animation-duration: 50s;
}
.header .link ul li:not(:last-child) a {
  border-bottom: 2px solid rgb(109, 103, 103);
}

/*  start landing */
.landing {
  background: url(https://images.pexels.com/photos/30972891/pexels-photo-30972891/free-photo-of-stunning-black-and-white-alps-mountain-landscape.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  height: calc(716px - 46px);

  position: relative;
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  color: var(--main-color);
}

.landing .intro-text p {
  margin: 0;
  color: #ffffff;
  font-size: large;
  line-height: 2;
  font-weight: bold;
}

/* start features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: #f6f6f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .container .feat {
  text-align: center;
  padding: 15px;
}

.features .container .feat i {
  color: var(--main-color);
  font-size: 40px;
}

.features .container .feat:hover i {
  color: var(--secondary-color);
  font-size: 40px;
}

.features .container .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}

.features .container .feat p {
  line-height: 1.6;
  font-size: 18px;
  color: #5e5d5d;
}

/* start special-heading */

.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;

  margin: 0px;
}

.special-heading + p {
  text-align: center;
  margin: -30px 0 0;
  color: #797979;
}

@media (max-width: 750px) {
  .special-heading {
    color: #ebeced;
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -4px;

    margin: 0px;
  }

  .special-heading + p {
    text-align: center;
    margin: -20px 0 0 0;
    color: #797979;
  }
}

/* start services */

.services {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services-contant {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  grid-gap: 30px;
}

.services-contant .svr {
  display: flex;
  margin-bottom: 30px;
}

@media (max-width: 770px) {
  .services-contant .svr {
    display: flex;
    flex-direction: column;

    text-align: center;
  }
}

.services-contant .svr i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services-contant .svr:hover i {
  color: var(--secondary-color);
  flex-basis: 60px;
  font-size: 25px;
}

.services-contant .svr .text {
  flex: 1;
}

.services-contant .text p {
  color: #777;
  font-weight: 300;
  line-height: 1.8;
}

.services-contant .text h3 {
  margin: 0 0 20px;
}

.services-contant .svr:hover h3 {
  margin: 0 0 20px;

  color: var(--main-color);
}
.services-contant .col .image {
  margin-top: 50px;
  text-align: center;
  position: relative;
}

.services-contant .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 90px;
  height: calc(100% + 200px);
  top: -100px;
  position: absolute;
  right: 0;

  z-index: -1;
}

.services-contant .col .image img {
  width: 300px;
}

@media (max-width: 750px) {
  .services-contant .image::before {
    display: none;
  }

  .services-contant .col .image img {
    display: none;
  }
}

.services-contant .colimg {
  margin: 10px;
  position: relative;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255) 80%,
    rgb(0, 0, 64) 20%
  );
}

/* start portfolio */

.protfolio {
  background-color: #f6f6f6;
}

.protfolio-contant {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  grid-gap: 30px;
}

.protfolio-contant .col img {
  width: 100%;
  height: 300px;
}

.protfolio-contant .col p {
  color: #777;
  font-weight: 300;
  line-height: 1.8;
}
.protfolio-contant .col h3 {
  margin: 0;
}

.protfolio-contant .col:hover h3 {
  color: var(--main-color);
  margin: 0;
}

.protfolio-contant .col {
  text-align: center;
  background-color: #ffffff;
}

.protfolio .container .but {
  text-align: center;
  margin-top: 20px;
}
.protfolio .container input {
  width: 20%;
  height: 30px;
  border: #000000 solid 2px;
}
.protfolio .container input:hover {
  width: 22%;
  height: 33px;
  border: #000000 solid 2px;
  background-color: #10cab10b;
}

/* start  about */

.about-contant {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
}
 

@media (max-width: 992px) {
  .about-contant {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
  }
}

.about-contant .col .p1 {
  font-size: 19px;

  font-weight: 800;
  color: #000;
  line-height: 1.7;
}

.about-contant .col hr {
  display: inline-block;
  width: 50%;
  height: 2px;
  background-color: var(--main-color);
}

.about-contant .col .p2 {
  line-height: 1.2;
  color: #777;
}

.about-contant .col .image {
  position: relative;
  width: 500px;
  height: 420px;
}
.about-contant .col .image img {
  width: 350px;
}

.about-contant .col .image::before {
  position: absolute;

  content: " ";
  width: 80px;
  height: calc(100% - 80px);
  background-color: #ebeced;
  left: -20px;
  top: -20px;
  z-index: -1;
}

.about-contant .col .image::after {
  position: absolute;

  content: " ";
  width: 60px;
  height: 200px;

  border-left: var(--main-color) 70px solid;
  border-bottom: var(--main-color) 70px solid;
  right: 70px;
  top: -25px;
  z-index: -2;
}

@media (max-width: 768px) {
  .about-contant {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .about-contant .col .p1 {
 
    font-size: 13px;
    width: 320px;
    font-weight: 800;
    color: #000;
    line-height: 1.3;
  }

  .about-contant .col hr {
    display: inline-block;
    width: 50%;
    height: 1px;
    background-color: var(--main-color);
  }

  .about-contant .col .p2 {
    width: 300px;
    font-size: 12px;
    line-height: 1;
    color: #777;
  }

  .about-contant .col .image {
   margin-top: 20px;
    position: relative;
    width: 250px;
   
  }

  .about-contant .col .image img  {
    width: 250px;
  }

  .about-contant .col .image::before {
  position: absolute;

  content: " ";
  width: 50px;
  height: calc(100% - 155px);
  background-color: #ebeced;
  left: -20px;
  top: -23px;
  z-index: -1;
}

  .about-contant .col .image::after {
    position: absolute;

    content: " ";
    width: 35px;
    height: 150px;

    border-left: var(--main-color) 50px solid;
    border-bottom: var(--main-color) 50px solid;
    right: -60px;
    top: -20px;
    z-index: -2;
  }
}
          /* start contact */
         /* start contact */
        /* start contact */
       /* start contact */
.contact .info {
  text-align: center;
  line-height: 80px;
  height: 300px;
}
.contact .label {
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 40px;
}

.contact .link {
  color: var(--main-color);
  font-weight: 700;
  font-size: 40px;
}

.contact .socail i {
  color: var(--secondary-color);
}
@media (max-width: 770px) {
  .contact .label {
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 23px;
  }
  .contact .link {
    color: var(--main-color);
    font-weight: 800;
    font-size: 25px;
  }

  .contact .socail {
    margin-top: -12px;
    font-size: 12px;
  }
}

/* start foot */

.foot {
  height: 60px;
  text-align: center;
  color: #ffffff;
  background-color: var(--secondary-color);

  position: relative;
}

.foot .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.foot span {
  color: var(--main-color);
}

@media (max-width: 768px) {
  .foot {
    height: 40px;
    text-align: center;
    color: #ffffff;
    background-color: var(--secondary-color);

    position: relative;
  }

  .foot .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
  }
}
